/*共通CSS スタート*/
body{
    background-color: #FFF3B8;
    font-family: "Zen Maru Gothic", sans-serif 
  }
  
  
  h1{
      text-align: center;
      font-size: 100px;
  }
  
  .select_button{
      display: flex;
      justify-content: center;
      margin-top: 20px;
  
      
  }
  
  .select_button button {
      margin: 0 10px; 
      font-size: 50px;
      padding: 15px 20px;
  }
  
  /*ナビゲーション設定　スタート*/
  a {
    margin-right: 20px;
  }
/*ナビゲーション設定　終わり*/

  /*ページトップ設定　スタート*/
  .page_title{
    font-size:40px;
  }
  /*ページトップ設定終わり*/
  
  /*main_contents 設定スタート*/
  .main_contents{
    margin:30px;
  }
  /*main_contents 設定終わり*/
  
  
  /*共通CSS終了*/
  
  